{% extends "base.html" %}
{% load static %}
{% block titleindex %} {{ List_subjects.title}} {% endblock %}
{% block content %}
 <div>
    <div class="item">
        <ul class="thumbnails">
             {% if List_subjects %}
                 {% for  item in List_subjects.exam_set.all %}
                    <li class="span3">
                      <div class="product-box">
                        <p><a href="{% url 'detailExam' item.id %}"><img src="{{ item.image.url }}", style="width: 100%;height: 200px;", alt=""></a></p>
                        <a href="{% url 'detailExam' item.id %}" class="title"> {{ item.title }}</a><br/>
                        <p >Số câu: {{ item.number }} </p>
                      </div>
                    </li>
                 {% endfor %}
             {% else %}
                <a>hello</a>
             {% endif %}
        </ul>
    </div>
</div>
 {% endblock  %}
