<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">				
            <nav id="menu" class="pull-right">
                <ul>
                    <li><a href="/">Trang chủ</a>					
                    </li>																	
                    <li><a href="/">Luyện thi</a>
                        <ul>									
                            {% if list_subjects %}
                             {% for  item in list_subjects %}
                             <li><a href="{% url 'detailSubjects' item.id %}">{{ item.title }}</a></li>
                             {% endfor %}
                            {% else %}
                               <a>Null</a>
                            {% endif %}
                        </ul>
                    </li>					
                    <li><a href="{% url 'file' %}">Tài liệu</a></li>
                    <li><a href="{% url 'tutorial' %}">Hướng dẫn</a></li>
                    {% if  user.is_authenticated %}
                        <li><a>Tài khoản: {{ user.username }}</a>
                            <ul>
                                <li><a href="{% url 'changepassword' %}">ChangePassword</a></li>								
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>	
                    {% else %}							
                            <li><a>Tài khoản</a>
                                <ul>									
                                    <li><a href="{% url 'login' %}">Đăng nhập</a></li>
                                    <li><a href="{% url 'register' %}">Đăng ký</a></li>
                                </ul>
                            </li>	
                    {% endif %}
                    <li style="padding-top: 5px;">
                        <input type="text" class="input-block-level search-query" Placeholder="SEACH">
                    </li>
                </ul>
            </nav>
        </div>