{% extends 'base.html' %}
{% load static %}
{% block titleindex %} / Đổi mật khẩu {% endblock %}
{% block content %}
<section class="header_text sub" style="margin-bottom: 0px; ">
	<h4><span>Changepassword</span></h4>
</section>
<section class="main-content">
	<div class="row">
		<div class="span6">
			<form class="login-form" method="post" , action="{% url 'changepassword' %}">
				{% csrf_token %}
				<input type="hidden" name="next" value="/">
				<fieldset>
					{% if messages %}
						{% for message in messages %}
							{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} <b style="color:red">{{ message }}</b> {% endif %}
						{% endfor %}
					{% endif %}
					<div class="control-group">
						<label class="control-label">Username</label>
						<input type="text" placeholder="Enter your username" name="username" class="input-xlarge" value={{ user.username }}>
					</div>
					<div class="control-group">
						<label class="control-label">Password</label>
						<input type="password" placeholder="Enter your Password" name="password" class="input-xlarge">
					</div>
					<div class="control-group">
						<label class="control-label">News Password</label>
						<input type="password" placeholder="Enter your new Password" name="newpassword" class="input-xlarge">
					</div>
					<div class="control-group">
						<label class="control-label">Email</label>
						<input type="text" placeholder="Enter your new Email" name="email" class="input-xlarge" value={{ user.email }}>
					</div>
					<div class="control-group">
						<input tabindex="3" class="btn btn-inverse large" type="submit"
							value="ChangePassword">
						<hr>
					</div>
				</fieldset>
			</form>
		</div>
</section>
{% endblock %}
