{% extends 'base.html' %}
{% load static %}
{% block titleindex %} / Đăng nhập - Đăng ký {% endblock %}
{% block content %}
<section class="header_text sub" style="margin-bottom: 0px; ">
	<h4><span>Login or Regsiter</span></h4>
</section>
<section class="main-content">
	<div class="row">
		<div class="span6">
			<h4 class="title login-form"><span class="text"><strong>Login</strong> Form</span></h4>
			<form class="login-form" method="post" , action="{% url 'login' %}">
				{% csrf_token %}
				<input type="hidden" name="next" value="/">
				<fieldset>
					<div class="control-group">
						<label class="control-label">Username</label>
						<div class="controls">
							{{form.username}}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Password</label>
						<div class="controls">
							{{form.password}}
						</div>
					</div>
					<div class="control-group">
						<input tabindex="3" class="btn btn-inverse large" type="submit"
							value="Sign into your account">
						<p class="reset">Recover your <a tabindex="4" href="#"
								title="Recover your username or password">username or password</a></p>
						<hr>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="span6">
			<h4 class="title login-form"><span class="text"><strong>Register</strong> Form</span></h4>
			<form class="login-form" method="post" , action="{% url 'register' %}">
				{% csrf_token %}
				<fieldset>
					<div class="control-group">
						<label class="control-label">Username</label>
						<div class="controls">
							{{form.username}}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Email address:</label>
						<div class="controls">
							{{form.email}}
							{{a.email}}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Password:</label>
						<div class="controls">
							{{form.password}}
						</div>
					</div>
					<hr>
					<div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit"
							value="Create your account"></div>
				</fieldset>
			</form>
		</div>
	</div>
</section>
{% endblock %}
