section#copyright {
    background-color: #fff;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
}
section#footer-bar {
    margin-top: 20px;
    padding-top: 10px;
    background-color: #eb4800;
    border-top: 1px solid #ddd;
    color: #777;
}
.login-form{
    display: flex;
    justify-content: center;
}